<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>body</title>
</head>
<body>
<h1>@RequestBody를 이용한 커맨드객체로 파라미터 값 전달 받기</h1>
<h3 action="body" method="post"></h3>
메뉴 이름<input type="text" name="name"/><br>
메뉴 가격<input type="number" name="price"/><br>
카테고리 :
<select name="categoryCode">
    <option vaule="1">식사</option>
    <option vaule="2">음료</option>
    <option vaule="3">디저트</option>
</select>
판매 상태 : <input type="text" name="orderableStatus"><br>
<button>검색사기</button>
</body>
</html>